<a href="https://colab.research.google.com/github/mengyanl/springboard/blob/main/Copy_of_Learning_spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1st Google Colab notebook for PySpark
#### From **Linkedin Apache Pyspark by Example** and **Medium blog** showed the link below.

https://medium.com/geekculture/how-to-get-your-spark-installation-right-every-time-on-colab-218d57b6091d

In [ ]:
!ls

In [ ]:
# download java
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [ ]:
# Installing Spark 3.2.0 with Hadoop 2.7
!wget -q https://downloads.apache.org/spark/spark-3.2.0//spark-3.2.0-bin-hadoop2.7.tgz

If can not file the file, do following steps: <br>
Go to https://downloads.apache.org/spark/   <br>
Select folder for example: "spark-3.0.1/" <br>
Copy file name you want for example: "spark-3.0.1-bin-hadoop3.2.tgz" (ends with .tgz) <br>
Paste to the provided script

In [ ]:
# unzip the folder
!tar xf spark-3.2.0-bin-hadoop2.7.tgz

In [ ]:
# install ‘findspark’ library. 
#It will locate Spark on the system and import it as a regular library.
!pip install -q findspark

In [ ]:
 # set the environmental path. 
 # This will enable us to run Pyspark in the Colab environment
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.2.0-bin-hadoop2.7"

In [ ]:
# locate spark in system
import findspark
findspark.init()

In [ ]:
# to konw where spark is located
findspark.find()

'/content/spark-3.2.0-bin-hadoop2.7'

In [ ]:
from pyspark import SparkContext
sc = SparkContext.getOrCreate()

In [ ]:
# create a spark session
import pyspark
from pyspark.sql import SparkSession
spark= SparkSession \
       .builder \
       .appName("Our First Spark example") \
       .getOrCreate()

In [ ]:
# print the SparkSession variable
spark

In [ ]:
!ls

sample_data  spark-3.2.0-bin-hadoop2.7	spark-3.2.0-bin-hadoop2.7.tgz

In [ ]:
# test
import urllib.request
BASE_DIR= "/tmp"
OUTPUT_FILE= os.path.join(BASE_DIR, 'wine_data.csv')

In [ ]:
# download dataset
wine_data=urllib.request.urlretrieve("https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data", OUTPUT_FILE)

In [ ]:
# read data
wine_df=spark.read.option("InferSchema",'true').csv("/tmp/wine_data.csv", header=False)

In [ ]:
# print the schema
wine_df.printSchema()

# Download Data

In [ ]:
# download Data set Chicago criminal
# shift+enter to see progress
!wget https://data.cityofchicago.org/api/views/x2n5-8w5q/rows.csv?accessType=DOWNLOAD&api_foundry=true

In [ ]:
!ls

In [ ]:
# rm reported_crimes.csv

In [ ]:
# rename the file
!mv rows.csv\?accessType\=DOWNLOAD reported_crimes.csv

# Read CSV

In [ ]:
from pyspark.sql.functions import to_timestamp,col,lit
rc = spark.read.csv('reported_crimes.csv',header=True).withColumn('DATE  OF OCCURRENCE',to_timestamp(col('DATE  OF OCCURRENCE'),'MM/dd/yyyy hh:mm:ss a')).filter(col('DATE  OF OCCURRENCE') <= lit('2021-11-11'))
rc.show(10)  ## print out in a nice format

## df.take(n)  ## returns list of row objects calls collect() on limit() ## similar to df.head()
## df.head(n)  ## returns an array calls take() function ## similar with take()
## df.limit(n)  ## returns  new dataframe
## df.collect()  ## get entire dataframe careful it will crash drive

# Schema

In [ ]:
## df.dtypes()
## df.printSchema()
rc.printSchema()

In [ ]:
from pyspark.sql.types import StructType, StructField, StringType, TimestampType, BooleanType, DoubleType, IntegerType

In [ ]:
rc.columns

In [ ]:
StructType([
        StructField('CASE#', StringType, True),
        StructField('DATE  OF OCCURRENCE', TimestampType, True),
 'BLOCK',
 ' IUCR',
 ' PRIMARY DESCRIPTION',
 ' SECONDARY DESCRIPTION',
 ' LOCATION DESCRIPTION',
 'ARREST',
 'DOMESTIC',
 'BEAT',
 'WARD',
 'FBI CD',
 'X COORDINATE',
 'Y COORDINATE',
 'LATITUDE',
 'LONGITUDE',
 'LOCATION')    
])

In [ ]:
labels = [ 
          ('CASE#', StringType()),
          ('DATE  OF OCCURRENCE', TimestampType()),
          ('BLOCK', StringType()),
 (' IUCR', StringType()),
 (' PRIMARY DESCRIPTION', StringType()),
 (' SECONDARY DESCRIPTION', StringType()),
 (' LOCATION DESCRIPTION', StringType()),
 ('ARREST', StringType()),
 ('DOMESTIC', BooleanType()),
 ('BEAT', StringType()),
 ('WARD', StringType()),
 ('FBI CD', StringType()),
 ('X COORDINATE', StringType()),
 ('Y COORDINATE', StringType()),
 ('LATITUDE', DoubleType()),
 ('LONGITUDE', DoubleType()),
 ('LOCATION', StringType()), 
  ]

In [ ]:
schema = StructType([StructField(x[0], x[1], True) for x in labels])
schema

In [ ]:
rc = spark.read.csv('reported_crimes.csv', schema = schema)
rc.printSchema()

In [ ]:
rc.show(5)

# Columns

In [ ]:
## PySpark columns
# df.withColumn('DoubleColumn', 2 * df['ColumnA'])
# df.withColumnRenamed(ExistingColumnName, NewColumnname)
# df.drop('columnName1', 'columnName2', 'columnName3')
# df.groupBy('column')

In [ ]:
rc.select(' IUCR').show(5)

In [ ]:
rc.select(rc.ARREST).show(5)

In [ ]:
rc.select(col('ARREST')).show(5)

In [ ]:
rc.select('ARREST', 'CASE#').show(5)

In [ ]:
from pyspark.sql.functions import lit

In [ ]:
rc.withColumn('One', lit(1)).show(5)

In [ ]:
rc = rc.drop('ARRESTED')
rc.show(5)

# Filter

In [ ]:
## df.filter(col('column') >1)  = in Pandas: df[df.column >1]
## df.select(column).distinct().show() = in Pandas: df['column'].unique()
## df.orderBy(col('column')) =  in Pandas: df.column.sort_values(by = 'column')
## df.union(df2) have to have same schema = Pandas: df.concat(df2)

In [ ]:
one_day = spark.read.csv('reported_crimes.csv',header=True).withColumn('DATE  OF OCCURRENCE',to_timestamp(col('DATE  OF OCCURRENCE'),'MM/dd/yyyy hh:mm:ss a')).filter(col('DATE  OF OCCURRENCE') == lit('2021-11-12'))
one_day.count()  ## print out in a nice format

In [ ]:
Second_day = spark.read.csv('reported_crimes.csv',header=True).withColumn('DATE  OF OCCURRENCE',to_timestamp(col('DATE  OF OCCURRENCE'),'MM/dd/yyyy hh:mm:ss a')).filter(col('DATE  OF OCCURRENCE') == lit('2021-11-13'))
Second_day.count()  ## print out in a nice format

In [ ]:
Second_day.union(one_day).orderBy("DATE  OF OCCURRENCE", ascending = False).show(13)

+--------+-------------------+--------------------+-----+--------------------+----------------------+---------------------+------+--------+----+----+------+------------+------------+------------+-------------+--------------------+
|   CASE#|DATE  OF OCCURRENCE|               BLOCK| IUCR| PRIMARY DESCRIPTION| SECONDARY DESCRIPTION| LOCATION DESCRIPTION|ARREST|DOMESTIC|BEAT|WARD|FBI CD|X COORDINATE|Y COORDINATE|    LATITUDE|    LONGITUDE|            LOCATION|
+--------+-------------------+--------------------+-----+--------------------+----------------------+---------------------+------+--------+----+----+------+------------+------------+------------+-------------+--------------------+
|JE443581|2021-11-13 00:00:00|048XX S MARSHFIEL...| 1477|   WEAPONS VIOLATION|  RECKLESS FIREARM ...|            RESIDENCE|     N|       N| 931|  20|    15|     1166156|     1872657|41.806148486|-87.666123458|(41.806148486, -8...|
|JE444226|2021-11-13 00:00:00|    002XX E HURON ST| 0281|CRIMINAL SEXUAL A...|        NON-AGGRAVATED| HOSPITAL BUILDING...|     N|       N|1834|  42|    02|     1178046|     1905133|41.895003278| -87.62152816|(41.895003278, -8...|
|JE446066|2021-11-13 00:00:00|010XX N PARKSIDE AVE| 1750|OFFENSE INVOLVING...|           CHILD ABUSE|            APARTMENT|     N|       Y|1511|  29|   08B|     1138492|     1906434|41.899381972|-87.766769174|(41.899381972, -8...|
|JE450448|2021-11-13 00:00:00|   032XX W CERMAK RD| 0810|               THEFT|             OVER $500|           RESTAURANT|     N|       N|1024|  12|    06|        null|        null|        null|         null|                null|
|JE443945|2021-11-13 00:00:00| 004XX S DEARBORN ST| 0860|               THEFT|          RETAIL THEFT|          GAS STATION|     N|       N| 113|   4|    06|     1176001|     1898180|41.875970169|-87.629248335|(41.875970169, -8...|
|JE444247|2021-11-13 00:00:00| 054XX W CHICAGO AVE| 1310|     CRIMINAL DAMAGE|           TO PROPERTY| COMMERCIAL / BUSI...|     N|       N|1524|  37|    14|     1139655|     1904800|41.894876922|-87.762537358|(41.894876922, -8...|
|JE443473|2021-11-13 00:00:00|  038XX W MADISON ST| 1320|     CRIMINAL DAMAGE|            TO VEHICLE|               STREET|     N|       N|1122|  28|    14|     1150842|     1899739|41.880777428| -87.72158268|(41.880777428, -8...|
|JE445022|2021-11-13 00:00:00|056XX S FRANCISCO...| 1320|     CRIMINAL DAMAGE|            TO VEHICLE|               STREET|     N|       N| 824|  16|    14|     1158005|     1867136|41.791167867| -87.69616864|(41.791167867, -8...|
|JE448019|2021-11-13 00:00:00|     004XX E 25TH ST| 0890|               THEFT|         FROM BUILDING|      OTHER (SPECIFY)|     N|       N| 133|   4|    06|     1179482|     1887957| 41.84783858|-87.616780783|(41.84783858, -87...|
|JE443378|2021-11-13 00:00:00| 085XX S CRANDON AVE| 2820|       OTHER OFFENSE|      TELEPHONE THREAT|            APARTMENT|     N|       N| 412|   8|   08A|     1192986|     1848936|41.740442663|-87.568495789|(41.740442663, -8...|
|JE443349|2021-11-13 00:00:00|051XX N RIDGEWAY AVE| 0312|             ROBBERY|  ARMED - KNIFE / C...|        PARK PROPERTY|     N|       N|1712|  39|    03|     1150469|     1933641|41.973814751|-87.722064863|(41.973814751, -8...|
|JE443343|2021-11-12 00:00:00|     008XX E 79TH ST| 0820|               THEFT|        $500 AND UNDER|               STREET|     N|       N| 624|   8|    06|     1183364|     1852811|41.751305337|-87.603628907|(41.751305337, -8...|
|JE443080|2021-11-12 00:00:00| 065XX S KEDVALE AVE| 1220|  DECEPTIVE PRACTICE|  THEFT OF LOST / M...|               STREET|     N|       N| 833|  13|    11|     1149829|     1860933|41.774308223| -87.72630918|(41.774308223, -8...|
+--------+-------------------+--------------------+-----+--------------------+----------------------+---------------------+------+--------+----+----+------+------------+------------+------------+-------------+--------------------+
only showing top 13 rows

In [ ]:
one_day.groupBy(' PRIMARY DESCRIPTION').count().show()

In [ ]:
one_day.groupBy(' PRIMARY DESCRIPTION').count().orderBy('count', ascending = False).show()

In [ ]:
# challenges
Second_day.groupBy('ARREST').count().show()
Second_day.select('ARREST').distinct().show()
one_day.count()

+------+-----+
|ARREST|count|
+------+-----+
|     N|   11|
+------+-----+

+------+
|ARREST|
+------+
|     N|
+------+

11

In [ ]:
Second_day.filter(col('ARREST') == 'N').count()/Second_day.select('ARREST').count()

1.0

In [ ]:
one_day.groupby(' LOCATION DESCRIPTION').count().orderBy(' LOCATION DESCRIPTION', ascending = False).show(3)

+---------------------+-----+
| LOCATION DESCRIPTION|count|
+---------------------+-----+
|               STREET|    5|
|             SIDEWALK|    1|
|   RESIDENCE - GARAGE|    1|
+---------------------+-----+
only showing top 3 rows