# Springboard Data Science Career Track Unit 4 Challenge - Tier 3 Complete

## Objectives
Hey! Great job getting through those challenging DataCamp courses. You're learning a lot in a short span of time. 

In this notebook, you're going to apply the skills you've been learning, bridging the gap between the controlled environment of DataCamp and the *slightly* messier work that data scientists do with actual datasets!

Here’s the mystery we’re going to solve: ***which boroughs of London have seen the greatest increase in housing prices, on average, over the last two decades?***


A borough is just a fancy word for district. You may be familiar with the five boroughs of New York… well, there are 32 boroughs within Greater London [(here's some info for the curious)](https://en.wikipedia.org/wiki/London_boroughs). Some of them are more desirable areas to live in, and the data will reflect that with a greater rise in housing prices.

***This is the Tier 3 notebook, which means it's not filled in at all: we'll just give you the skeleton of a project, the brief and the data. It's up to you to play around with it and see what you can find out! Good luck! If you struggle, feel free to look at easier tiers for help; but try to dip in and out of them, as the more independent work you do, the better it is for your learning!***

This challenge will make use of only what you learned in the following DataCamp courses: 
- Prework courses (Introduction to Python for Data Science, Intermediate Python for Data Science)
- Data Types for Data Science
- Python Data Science Toolbox (Part One) 
- pandas Foundations
- Manipulating DataFrames with pandas
- Merging DataFrames with pandas

Of the tools, techniques and concepts in the above DataCamp courses, this challenge should require the application of the following: 
- **pandas**
    - **data ingestion and inspection** (pandas Foundations, Module One) 
    - **exploratory data analysis** (pandas Foundations, Module Two)
    - **tidying and cleaning** (Manipulating DataFrames with pandas, Module Three) 
    - **transforming DataFrames** (Manipulating DataFrames with pandas, Module One)
    - **subsetting DataFrames with lists** (Manipulating DataFrames with pandas, Module One) 
    - **filtering DataFrames** (Manipulating DataFrames with pandas, Module One) 
    - **grouping data** (Manipulating DataFrames with pandas, Module Four) 
    - **melting data** (Manipulating DataFrames with pandas, Module Three) 
    - **advanced indexing** (Manipulating DataFrames with pandas, Module Four) 
- **matplotlib** (Intermediate Python for Data Science, Module One)
- **fundamental data types** (Data Types for Data Science, Module One) 
- **dictionaries** (Intermediate Python for Data Science, Module Two)
- **handling dates and times** (Data Types for Data Science, Module Four)
- **function definition** (Python Data Science Toolbox - Part One, Module One)
- **default arguments, variable length, and scope** (Python Data Science Toolbox - Part One, Module Two) 
- **lambda functions and error handling** (Python Data Science Toolbox - Part One, Module Four)

## The Data Science Pipeline

This is Tier Three, so we'll get you started. But after that, it's all in your hands! When you feel done with your investigations, look back over what you've accomplished, and prepare a quick presentation of your findings for the next mentor meeting. 

Data Science is magical. In this case study, you'll get to apply some complex machine learning algorithms. But as  [David Spiegelhalter](https://www.youtube.com/watch?v=oUs1uvsz0Ok) reminds us, there is no substitute for simply **taking a really, really good look at the data.** Sometimes, this is all we need to answer our question.

Data Science projects generally adhere to the four stages of Data Science Pipeline:
1. Sourcing and loading 
2. Cleaning, transforming, and visualizing 
3. Modeling 
4. Evaluating and concluding

### 1. Sourcing and Loading 

Any Data Science project kicks off by importing  ***pandas***. The documentation of this wonderful library can be found [here](https://pandas.pydata.org/). As you've seen, pandas is conveniently connected to the [Numpy](http://www.numpy.org/) and [Matplotlib](https://matplotlib.org/) libraries. 

***Hint:*** This part of the data science pipeline will test those skills you acquired in the pandas Foundations course, Module One.

#### 1.1. Importing Libraries

In [5]:
# Let's import the pandas, numpy libraries as pd, and np respectively. 
import pandas as pd
import numpy as np
from datetime import datetime
import seaborn as sns

# Load the pyplot collection of functions from matplotlib, as plt 
import matplotlib.pyplot as plt

#### 1.2.  Loading the data
Your data comes from the [London Datastore](https://data.london.gov.uk/): a free, open-source data-sharing portal for London-oriented datasets.

In [6]:
# First, make a variable called url_LondonHousePrices, and assign it the following link, enclosed in quotation-marks as a string:
# https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls

url_LondonHousePrices = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls"

# The dataset we're interested in contains the Average prices of the houses, and is actually on a particular sheet of the Excel file. 
# As a result, we need to specify the sheet name in the read_excel() method.
# Put this data into a variable called properties.  
properties = pd.read_excel(url_LondonHousePrices, sheet_name='Average price', index_col= None)

### 2. Cleaning, transforming, and visualizing
This second stage is arguably the most important part of any Data Science project. The first thing to do is take a proper look at the data. Cleaning forms the majority of this stage, and can be done both before or after Transformation.

The end goal of data cleaning is to have tidy data. When data is tidy: 

1. Each variable has a column.
2. Each observation forms a row.

Keep the end goal in mind as you move through this process, every step will take you closer. 



***Hint:*** This part of the data science pipeline should test those skills you acquired in: 
- Intermediate Python for data science, all modules.
- pandas Foundations, all modules. 
- Manipulating DataFrames with pandas, all modules.
- Data Types for Data Science, Module Four.
- Python Data Science Toolbox - Part One, all modules

**2.1. Exploring your data** 

Think about your pandas functions for checking out a dataframe.

In [7]:
print(properties.head())

  Unnamed: 0 City of London Barking & Dagenham       Barnet       Bexley  \
0        NaT      E09000001          E09000002    E09000003    E09000004
1 1995-01-01    91448.98487         50460.2266  93284.51832  64958.09036
2 1995-02-01    82202.77314        51085.77983  93190.16963  64787.92069
3 1995-03-01    79120.70256        51268.96956  92247.52435  64367.49344
4 1995-04-01    77101.20804        53133.50526  90762.87492  64277.66881

         Brent      Bromley       Camden      Croydon       Ealing  ...  \
0    E09000005    E09000006    E09000007    E09000008    E09000009  ...
1  71306.56698  81671.47692  120932.8881  69158.16225  79885.89069  ...
2  72022.26197  81657.55944  119508.8622  68951.09542  80897.06551  ...
3  72015.76274  81449.31143  120282.2131  68712.44341  81379.86288  ...
4  72965.63094  81124.41227   120097.899  68610.04641  82188.90498  ...

    NORTH WEST YORKS & THE HUMBER EAST MIDLANDS WEST MIDLANDS EAST OF ENGLAND  \
0    E12000002          E12000003     E12000004     E12000005       E12000006
1  43958.48001        44803.42878   45544.52227   48527.52339      56701.5961
2  43925.42289        44528.80721   46051.57066   49341.29029     56593.59475
3   44434.8681        45200.46775   45383.82395   49442.17973     56171.18278
4   44267.7796        45614.34341   46124.23045   49455.93299     56567.89582

        LONDON   SOUTH EAST   SOUTH WEST Unnamed: 47      England
0    E12000007    E12000008    E12000009         NaN    E92000001
1  74435.76052  64018.87894   54705.1579         NaN  53202.77128
2  72777.93709  63715.02399  54356.14843         NaN   53096.1549
3  73896.84204  64113.60858  53583.07667         NaN   53201.2843
4  74455.28754  64623.22395  54786.01938         NaN   53590.8548

[5 rows x 49 columns]

In [8]:
y_m = []
for time in properties.iloc[1:,0]:
      year_month = pd.to_datetime(time)
      year_month = datetime.strftime(year_month,'%Y-%m')
      y_m.append( year_month)
# print(y_m[2:5])

properties.iloc[1:,0] = y_m
print(properties.iloc[0:3, 0:5])

  Unnamed: 0 City of London Barking & Dagenham       Barnet       Bexley
0        NaT      E09000001          E09000002    E09000003    E09000004
1    1995-01    91448.98487         50460.2266  93284.51832  64958.09036
2    1995-02    82202.77314        51085.77983  93190.16963  64787.92069

**2.2. Cleaning the data**

You might find you need to transpose your dataframe, check out what its row indexes are, and reset the index. You  also might find you need to assign the values of the first row to your column headings  . (Hint: recall the .columns feature of DataFrames, as well as the iloc[] method).

Don't be afraid to use StackOverflow for help  with this.

In [9]:
properties = properties.transpose()
print(properties.iloc[0,:10])

0        NaT
1    1995-01
2    1995-02
3    1995-03
4    1995-04
5    1995-05
6    1995-06
7    1995-07
8    1995-08
9    1995-09
Name: Unnamed: 0, dtype: object

In [10]:
properties.columns = properties.iloc[0,:]
print(properties.iloc[0,:10])

Unnamed: 0
NaN            NaT
1995-01    1995-01
1995-02    1995-02
1995-03    1995-03
1995-04    1995-04
1995-05    1995-05
1995-06    1995-06
1995-07    1995-07
1995-08    1995-08
1995-09    1995-09
Name: Unnamed: 0, dtype: object

In [11]:
properties.drop(properties.index[[0]], inplace=True)
print(properties.head())

Unnamed: 0                NaN      1995-01      1995-02      1995-03  \
City of London      E09000001  91448.98487  82202.77314  79120.70256
Barking & Dagenham  E09000002   50460.2266  51085.77983  51268.96956
Barnet              E09000003  93284.51832  93190.16963  92247.52435
Bexley              E09000004  64958.09036  64787.92069  64367.49344
Brent               E09000005  71306.56698  72022.26197  72015.76274

Unnamed: 0              1995-04      1995-05      1995-06      1995-07  \
City of London      77101.20804  84409.14932  94900.51244  110128.0423
Barking & Dagenham  53133.50526  53042.24852  53700.34831  52113.12157
Barnet              90762.87492  90258.00033  90107.23471  91441.24768
Bexley              64277.66881  63997.13588  64252.32335  63722.70055
Brent               72965.63094  73704.04743  74310.48167  74127.03788

Unnamed: 0              1995-08      1995-09  ...      2020-08      2020-09  \
City of London      112329.4376  104473.1096  ...  827658.5167  798499.1646
Barking & Dagenham  52232.19868  51471.61353  ...  304923.5027  301702.4656
Barnet              92361.31512  93273.12245  ...  529660.1524    533619.23
Bexley              64432.60005  64509.54767  ...  346679.9244  345061.4945
Brent                73547.0411  73789.54287  ...  497729.0327  519561.8277

Unnamed: 0              2020-10      2020-11      2020-12      2021-01  \
City of London      836807.0518  769391.7847  801999.0466  760599.2322
Barking & Dagenham  304852.1338  305012.3291  309560.1023  311007.1517
Barnet              530353.5205  528816.4928  532528.0926  538842.4015
Bexley              345404.9836  346252.9145  352260.8385   356664.073
Brent               522239.3216   513100.814  495066.6459  511347.8856

Unnamed: 0              2021-02      2021-03      2021-04      2021-05
City of London      729315.7243  717528.2633  713094.5391  765822.2726
Barking & Dagenham  313835.8023  314187.4036  309680.5549  308760.1446
Barnet              538215.8867  542872.3895  545746.3543  546082.2634
Bexley              360116.1134  364480.9055  365519.4195  368554.8059
Brent               514388.7387  519212.9441  498083.9417  508570.7598

[5 rows x 318 columns]

In [12]:
properties = properties.reset_index()
print (properties.head())

Unnamed: 0               index        NaN      1995-01      1995-02  \
0               City of London  E09000001  91448.98487  82202.77314
1           Barking & Dagenham  E09000002   50460.2266  51085.77983
2                       Barnet  E09000003  93284.51832  93190.16963
3                       Bexley  E09000004  64958.09036  64787.92069
4                        Brent  E09000005  71306.56698  72022.26197

Unnamed: 0      1995-03      1995-04      1995-05      1995-06      1995-07  \
0           79120.70256  77101.20804  84409.14932  94900.51244  110128.0423
1           51268.96956  53133.50526  53042.24852  53700.34831  52113.12157
2           92247.52435  90762.87492  90258.00033  90107.23471  91441.24768
3           64367.49344  64277.66881  63997.13588  64252.32335  63722.70055
4           72015.76274  72965.63094  73704.04743  74310.48167  74127.03788

Unnamed: 0      1995-08  ...      2020-08      2020-09      2020-10  \
0           112329.4376  ...  827658.5167  798499.1646  836807.0518
1           52232.19868  ...  304923.5027  301702.4656  304852.1338
2           92361.31512  ...  529660.1524    533619.23  530353.5205
3           64432.60005  ...  346679.9244  345061.4945  345404.9836
4            73547.0411  ...  497729.0327  519561.8277  522239.3216

Unnamed: 0      2020-11      2020-12      2021-01      2021-02      2021-03  \
0           769391.7847  801999.0466  760599.2322  729315.7243  717528.2633
1           305012.3291  309560.1023  311007.1517  313835.8023  314187.4036
2           528816.4928  532528.0926  538842.4015  538215.8867  542872.3895
3           346252.9145  352260.8385   356664.073  360116.1134  364480.9055
4            513100.814  495066.6459  511347.8856  514388.7387  519212.9441

Unnamed: 0      2021-04      2021-05
0           713094.5391  765822.2726
1           309680.5549  308760.1446
2           545746.3543  546082.2634
3           365519.4195  368554.8059
4           498083.9417  508570.7598

[5 rows x 319 columns]

**2.3. Cleaning the data (part 2)**

You might we have to **rename** a couple columns. How do you do this? The clue's pretty bold...

In [17]:
#properties.rename(columns = {'index':'District', 'NaN' : 'ID'}, inplace=True)

properties.rename(columns={'index': 'District', properties.columns[1]: "ID"}, inplace = True)
print (properties.columns)

Index(['Borough', 'ID', '1995-01', '1995-02', '1995-03', '1995-04', '1995-05',
       '1995-06', '1995-07', '1995-08',
       ...
       '2020-08', '2020-09', '2020-10', '2020-11', '2020-12', '2021-01',
       '2021-02', '2021-03', '2021-04', '2021-05'],
      dtype='object', name='Unnamed: 0', length=319)

**2.4.Transforming the data**

Remember what Wes McKinney said about tidy data? 

You might need to **melt** your DataFrame here.

Remember to make sure your column data types are all correct. Average prices, for example, should be floating point numbers...

In [14]:
print(properties.dtypes)

Unnamed: 0
Borough    object
ID         object
1995-01    object
1995-02    object
1995-03    object
            ...
2021-01    object
2021-02    object
2021-03    object
2021-04    object
2021-05    object
Length: 319, dtype: object

**2.5. Cleaning the data (part 3)**

Do we have an equal number of observations in the ID, Average Price, Month, and London Borough columns? Remember that there are only 32 London Boroughs. How many entries do you have in that column? 

Check out the contents of the London Borough column, and if you find null values, get rid of them however you see fit.

In [15]:
print(properties['District'])

KeyError: 'District'

In [ ]:
District_list = ['Barking & Dagenham', 'Barnet', 'Bexley', 'Brent', 'Bromley', 'Camden', \
                 'Croydon', 'Ealing', 'Enfield', 'Greenwich', 'Hackney', \
                 'Hammersmith & Fulham', 'Haringey', 'Harrow', 'Havering', 'Hillingdon', \
                 'Hounslow', 'Islington', 'Kensington & Chelsea', 'Kingston upon Thames', \
                 'Lambeth', 'Lewisham', 'Merton', 'Newham', 'Redbridge', 'Richmond upon Thames', \
                 'Southwark', 'Sutton', 'Tower Hamlets', 'Waltham Forest', 'Wandsworth', 'Westminster']
print(len(District_list))

In [ ]:
properties_32 = properties[properties['District'].isin(District_list)]
print(len(properties_32))

In [ ]:
print('Missing in District column: ', properties_32['District'].isna().sum())
print(properties_32.isna().any())
print(properties_32.describe())

In [ ]:
melt = properties_32.melt(id_vars = ['District'], value_vars = y_m,\
                   var_name = ['Month'], value_name = 'Price') 
print(melt.head())

**2.6. Visualizing the data**

To visualize the data, why not subset on a particular London Borough? Maybe do a line plot of Month against Average Price?

In [ ]:
# years = []
# for time in melt['Month']:
      # year = time[0:4]
      # years.append(year)
# print(years[0:5])

# melt['Year'] = years

# Use lambda as directions
melt['Year'] = [month[0:4] for month in melt['Month'] ]

# Check
print(melt.head())

To limit the number of data points you have, you might want to extract the year from every month value your *Month* column. 

To this end, you *could* apply a ***lambda function***. Your logic could work as follows:
1. look through the `Month` column
2. extract the year from each individual value in that column 
3. store that corresponding year as separate column. 

Whether you go ahead with this is up to you. Just so long as you answer our initial brief: which boroughs of London have seen the greatest house price increase, on average, over the past two decades?

In [ ]:
melt['Price'] = pd.to_numeric(melt['Price'])
print(melt.dtypes)
Grouped = melt.groupby(['District','Year'])['Price'].mean()
print (Grouped.head())

# make sure no missing values
Grouped.isna().sum()

In [ ]:
Grouped = Grouped.reset_index()
print(Grouped.head())
print(Grouped.tail())

In [ ]:
Year_2021 = Grouped[Grouped["Year"]=='2021']
print(Year_2021.head())
Max_2021=Year_2021[Year_2021['Price']== Year_2021['Price'].max()]['District']
print(Max_2021)

In [ ]:
def price (year, district):
    price = float(Grouped[(Grouped["Year"]== year) & (Grouped["District"] == district)]['Price']) 
    return price

In [ ]:
print(price('2000','Hackney'))

In [ ]:
plt.figure(figsize=(10, 6))
sns.lineplot(x='Year', y='Price', data=Grouped, hue='District')
plt.legend(bbox_to_anchor=(1.05, 1), loc='upper left')
plt.xticks(rotation=90)
plt.show()

In [ ]:
def increase_ratio (year1, year2, district):
    # year1 must be larger than year2
    Year1_price = float(Grouped[(Grouped["Year"]== year1) & (Grouped["District"] == district)]['Price'])
    Year2_price = float(Grouped[(Grouped["Year"]== year2) & (Grouped["District"] == district)]['Price'])
    increase = float(Grouped[(Grouped["Year"]== year1) & (Grouped["District"] == district)]['Price'])\
               -float(Grouped[(Grouped["Year"]== year2) & (Grouped["District"] == district)]['Price'])
    ratio = float(Grouped[(Grouped["Year"]== year1) & (Grouped["District"] == district)]['Price'])\
               /float(Grouped[(Grouped["Year"]== year2) & (Grouped["District"] == district)]['Price']) -1
    value = str('For ' + district + ', ' + 'Year1 Price = ' + str(Year1_price)+ ', ' \
                + 'Year2 Price = ' + str(Year2_price)+ ', ' \
                +  'Increase value = ' + str(int(increase))+', '\
                + 'Increased ratio = ' + str(int(ratio)))
    return value

In [ ]:
print(increase_ratio('2020', '2000', 'Hackney'))

**3. Modeling**

Consider creating a function that will calculate a ratio of house prices, comparing the price of a house in 2018 to the price in 1998.

Consider calling this function create_price_ratio.

You'd want this function to:
1. Take a filter of dfg, specifically where this filter constrains the London_Borough, as an argument. For example, one admissible argument should be: dfg[dfg['London_Borough']=='Camden'].
2. Get the Average Price for that Borough, for the years 1998 and 2018.
4. Calculate the ratio of the Average Price for 1998 divided by the Average Price for 2018.
5. Return that ratio.

Once you've written this function, you ultimately want to use it to iterate through all the unique London_Boroughs and work out the ratio capturing the difference of house prices between 1998 and 2018.

Bear in mind: you don't have to write a function like this if you don't want to. If you can solve the brief otherwise, then great! 

***Hint***: This section should test the skills you acquired in:
- Python Data Science Toolbox - Part One, all modules

In [ ]:
# use year1 > year2 
def filter (year1,year2):

    Increase = {}
    Ratio = {}
    Ratio_min ={}
    for borough in Grouped['District']:
        By_borough = Grouped[Grouped['District'] == borough]
        increase = float(By_borough[By_borough['Year'] == year1]['Price'])-\
        float(By_borough[By_borough['Year'] == year2]['Price'])
        ratio = float(By_borough[By_borough['Year'] == year1]['Price'])/\
        float(By_borough[By_borough['Year'] == year2]['Price'])
    
## round to 2 decimals, not really needed
        Increase[borough] = float("{:.2f}".format(increase))
        Ratio[borough] = float("{:.2f}".format(ratio))
    # df = pd.DataFrame(list(zip(London_borough, Increase)),columns =['District', 'Increase'])
    Max_Increase = max(Increase, key=Increase.get)
    Max_Ratio = max(Ratio, key=Ratio.get)
    max_increase_value = Increase[Max_Increase]
    max_ratio_value = float("{:.2f}".format(Ratio[Max_Ratio]-1))
    
    two_district = str('For ' + year1 + ' and ' + year2 + ' : ' 'Max Increased Value: ' + Max_Increase + \
                       ' , ' + str(max_increase_value)\
                       + '; Max Increased Ratio: ' +  Max_Ratio +' , ' + str(max_ratio_value))
   
    return two_district

In [ ]:
print(filter('2020','2000'))
print(filter('2021','2001'))
print(filter('2019','1999'))
print(filter('2018', '1998'))

### 4. Conclusion
What can you conclude? Type out your conclusion below. 

Look back at your notebook. Think about how you might summarize what you have done, and prepare a quick presentation on it to your mentor at your next meeting. 

We hope you enjoyed this practical project. It should have consolidated your data hygiene and pandas skills by looking at a real-world problem involving just the kind of dataset you might encounter as a budding data scientist. Congratulations, and looking forward to seeing you at the next step in the course!

In [ ]:
# Conclustion: The most increased values from 1998-2018, 1999-2019, 2000-2020, 2001-2021 are all Kensington & Chelsea. But if using increasing rate, there are other results.
# Use data from 2000-2020, Hackney has the highest increasing rate of about 3.4-fold. (Waltham Forest has a very close number that roundup to 3.4 also. The values for Kensington & Chelsea showed only about a 2-fold increase). 
# By changing the starting and ending years, such as 2001-2021, The highest increased rate happened in Waltham Forest, a 3-fold increase from 118,843 in 2001. (Hackney had a 2.9-fold change in this period).