In [2]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

In [5]:
# Q11
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """           
Select Final.name, Final.revenue
From (
Select Cal.name, sum(Cal.cost) as revenue
From (Select F.name, 
       Case When B.memid = 0 Then (F.guestcost*B.slots)
       Else (F.membercost*B.slots) End AS cost
From Facilities as F
Inner Join Bookings as B
ON F.facid=B.facid
) As Cal
Group by name
order by revenue) As Final
Where revenue < 1000.0
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)

In [6]:
#Q11
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """           
Select 
      L.surname, L.firstname, 
      R.surname As R_surname, R.firstname As R_firstname
From Members as L
Inner Join Members as R
ON L.recommendedby = R.memid 
Where L.recommendedby <> 0
Order by L.surname, L.firstname
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Bader', 'Florence', 'Stibbons', 'Ponder')
('Baker', 'Anne', 'Stibbons', 'Ponder')
('Baker', 'Timothy', 'Farrell', 'Jemima')
('Boothe', 'Tim', 'Rownam', 'Tim')
('Butters', 'Gerald', 'Smith', 'Darren')
('Coplin', 'Joan', 'Baker', 'Timothy')
('Crumpet', 'Erica', 'Smith', 'Tracy')
('Dare', 'Nancy', 'Joplette', 'Janice')
('Genting', 'Matthew', 'Butters', 'Gerald')
('Hunt', 'John', 'Purview', 'Millicent')
('Jones', 'David', 'Joplette', 'Janice')
('Jones', 'Douglas', 'Jones', 'David')
('Joplette', 'Janice', 'Smith', 'Darren')
('Mackenzie', 'Anna', 'Smith', 'Darren')
('Owen', 'Charles', 'Smith', 'Darren')
('Pinker', 'David', 'Farrell', 'Jemima')
('Purview', 'Millicent', 'Smith', 'Tracy')
('Rumney', 'Henrietta', 'Genting', 'Matthew')
('Sarwin', 'Ramnaresh', 'Bader', 'Florence')
('Smith', 'Jack', 'Smith', 'Darren')
('Stibbons', 'Ponder', 'Tracy', 'Burton')
('Worthington-Smyth', 'Henry', 'Smith', 'Tracy')

In [7]:
#12

def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """           
Select 
       F.name AS Name,
       sum(B.slots) As fusage
From Facilities As F
Inner Join Bookings As B
ON F.facid = B.facid
Where B.memid <> 0
Group by Name
Order by fusage
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Massage Room 2', 54)
('Squash Court', 418)
('Table Tennis', 794)
('Pool Table', 856)
('Snooker Table', 860)
('Tennis Court 2', 882)
('Massage Room 1', 884)
('Tennis Court 1', 957)
('Badminton Court', 1086)

In [14]:
#13

def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """           
SELECT strftime('%Y %m', B.starttime) AS Month,
       F.name,
       sum(B.slots) As MemberUsage
From Facilities As F
Inner Join Bookings As B
ON F.facid = B.facid
Where B.memid <> 0
Group by name, Month
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('2012 07', 'Badminton Court', 165)
('2012 08', 'Badminton Court', 414)
('2012 09', 'Badminton Court', 507)
('2012 07', 'Massage Room 1', 166)
('2012 08', 'Massage Room 1', 316)
('2012 09', 'Massage Room 1', 402)
('2012 07', 'Massage Room 2', 8)
('2012 08', 'Massage Room 2', 18)
('2012 09', 'Massage Room 2', 28)
('2012 07', 'Pool Table', 110)
('2012 08', 'Pool Table', 303)
('2012 09', 'Pool Table', 443)
('2012 07', 'Snooker Table', 140)
('2012 08', 'Snooker Table', 316)
('2012 09', 'Snooker Table', 404)
('2012 07', 'Squash Court', 50)
('2012 08', 'Squash Court', 184)
('2012 09', 'Squash Court', 184)
('2012 07', 'Table Tennis', 98)
('2012 08', 'Table Tennis', 296)
('2012 09', 'Table Tennis', 400)
('2012 07', 'Tennis Court 1', 201)
('2012 08', 'Tennis Court 1', 339)
('2012 09', 'Tennis Court 1', 417)
('2012 07', 'Tennis Court 2', 123)
('2012 08', 'Tennis Court 2', 345)
('2012 09', 'Tennis Court 2', 414)